body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
  box-sizing: border-box;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100vh;
}

#titles {
  font-family: "printf", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  width: 80vw;
  height: 100vh;
  flex-shrink: 0;
  position: relative;
  text-align: left;
}

h1 {
  font-size: 300%;
  padding: 15%;
}

#where{
  font-size: 150%;
  text-align: right;
  padding-right: 10%;
  margin-top: -20%;
  padding: 5%;
}

h2 {
  padding-left: 100vw;
  width: 80vw;
}

#speakers {
  font-family: "printf", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
}

